.logo {
    background: white;
    width: 70px;
    height: 109.09px;
    background-image: url("../images/logo-black.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding-left: 100px;
}
.navbar {
    display:flex;
    background-color:white; /* Set background color */
    padding: 20px; /* Add some padding */
    
}
.nav-items-right {
    padding-top: 10px;
    list-style-type: none; /* to Remove bullet points */
    height: 60px;
 
    display: flex;
    justify-content: right;
    align-items: right;
    width: 90%;
  }
  .nav-items-right li {
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: inline-block; /* Display items horizontally */
    margin-right: 50px; /* Add some spacing between items */
  }
  .nav-items-right li a {
    font-family:  montserrat;
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-decoration: none; /* Remove underline */
  }
  .nav-items li a:hover {
    color: brown; /* Set the font color on hover */
  }/*it's not working*/
  .hero-banner {
    background-color: #fff; /* Set background color */
    padding-left: 150px; 
    padding-bottom: 70px;
    padding-top: 100px;/* Add padding to create space around content */
    text-align: left; /* Center align the content */
  }
  .hero-banner h1 {
    padding-left: 30px;
  font-size: 128px; /* Set font size */
  color: #696868; /* Set font color */
  font-family: 'Montserrat';
  margin-bottom: 0;
}
.work-box-container {
    display: flex;
    align-items: center;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    padding-left: 180px;
}
.work-box {
    /* Styles for the work boxes */
    width: 590px;
    height: 450px;
    border-radius: 18px;
    background-color: #D9D9D9;
    padding: 20px;
    font-family: 'Montserrat';
    color: #5a5959;
  }
  
  .work-box:not(:last-child) {
    margin-right: 52px;
  }
  .work-box-3 {
    width: 1145px; /* Adjust as needed */
    height: 450px; /* Adjust as needed */
    margin-top: 52px;
     /* Add spacing between Work 2 and Work 3 */
  margin-left: 180px;
     padding: 20px;
  }
  .footer {
    background-color: #f2f2f2;
    padding: 20px 170px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
  }
  
  .footer h3 a {
    margin-right: 20px;
    color: inherit;
    text-decoration: none;
  }
  
  .footer p {
    margin-top: 10px;
    color: #808080;
  }